html 
  head 
    title= item.name 
  body 
    h1= item.name  
    a(href="/item/" + item.id + "/edit") Edit item
    p= item.name + " (Categories:" + item.categories + ")"
    p= item.description
    p= "Quantity: " + item.quantity
    p= "Price: " + centsToPriceString(item.price_cents)
    form(action="/item/" + item.id + "/delete", method="post") 
      button Delete item
